.login-box {
  width: 600px
}

.login-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.input-username {
  width: 80%;
  margin-bottom: 30px;
}

.login-group-button{
  display: flex;
  justify-content: end;
}
