<div>
  <p-card>
    <div class="m-0">
      <h2>Extended Forecast</h2>
    </div>
    <div class="w-full flex justify-content-around">
      <div>
        <div>Thu</div>
        <div>Rain</div>
        <div>35°</div>
      </div>

      <div>
        <div>Thu</div>
        <div>Rain</div>
        <div>35°</div>
      </div>

      <div>
        <div>Thu</div>
        <div>Rain</div>
        <div>35°</div>
      </div>

      <div>
        <div>Thu</div>
        <div>Rain</div>
        <div>35°</div>
      </div>

      <div>
        <div>Thu</div>
        <div>Rain</div>
        <div>35°</div>
      </div>

      <div>
        <div>Thu</div>
        <div>Rain</div>
        <div>35°</div>
      </div>

      <div>
        <div>Thu</div>
        <div>Rain</div>
        <div>35°</div>
      </div>

      <div>
        <div>Thu</div>
        <div>Rain</div>
        <div>35°</div>
      </div>
    </div>
  </p-card>
</div>
