<div class="card">
  <p-table [columns]="cols" [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template *ngIf="currentUser.role === 1" pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h3>Add User</h3>
        <p-button (click)="showDialog()" icon="pi pi-plus"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="text-center" *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th class="text-center" *ngIf="currentUser.role === 1">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-user>
      <tr>
        <td class="text-center">{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.role | customRole }}</td>
        <td class="text-center">{{ user.status }}</td>
        <td *ngIf="currentUser.role === 1" class="flex justify-content-center">
          <button type="button" (click)="onChangeStatus(rowData)" class="mr-2" pButton pRipple>Action</button>
          <p-button label="Delete" styleClass="p-button-danger" (onClick)="deleteUser(rowData)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Add User" [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="visible"
    [style]="{width: '50vw'}">
    <div >
      <div class="flex mb-3">
        <div class="w-3 flex align-items-center">
          <div><label htmlFor="username">Username</label></div>
        </div>
        <div class="w-9">
          <input class="w-full" id="username" type="text" pInputText [(ngModel)]="userName"/>
        </div>
      </div>

      <div class="flex mb-5">
        <div class="w-3 flex align-items-center">
          <div><label htmlFor="username">Role</label></div>
        </div>
        <div class="w-9">
          <input class="w-full" id="role" type="text" pInputText pKeyFilter="int" [(ngModel)]="role"/>
        </div>
      </div>
    </div>
    <div class="card flex justify-content-center">
      <p-button (click)="addUser()" label="Submit"></p-button>
  </div>
  </p-dialog>
</div>
