<div>
  <p-card>
    <div>
      <h2>Current Weather</h2>
    </div>
    <div class="flex p-5">
      <div class="block w-6">
        <h2 class="m-0 temp-color">Hà Đông</h2>
        <div class="flex mt-2 mb-2">
          <img src="https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0002_sunny_intervals.png" />
          <h1 class="temp-color temp-number m-0">27°</h1>
        </div>
        <h2 class="temp-sub-text">Partly cloudy</h2>
      </div>
      <div class="block w-6">
        <div class="temp-color">Feels like 29°</div>
        <div><span class="temp-sub-text">Humidity: </span> <span class="temp-percent">75%</span></div>
        <div><span class="temp-sub-text">Wind: </span> <span class="temp-percent">5kph</span></div>
        <div><span class="temp-sub-text">Pressure: </span> <span class="temp-percent">1008hPa</span></div>
      </div>
    </div>
  </p-card>
</div>

