<div>
  <p-card>
    <div>
      <h2>Current Weather</h2>
    </div>
    <div class="flex pl-8">
      <div class="block w-6">
        <h2 class="m-0 temp-color">{{dataCurrentWeather.city_name}}</h2>
        <div class="flex mt-2 mb-2">
          <img class="icon-weather" src="https://cdn.weatherbit.io/static/img/icons/{{dataCurrentWeather.weather.icon}}.png" />
          <h1 class="temp-color temp-number m-0">{{dataCurrentWeather.temp}}°</h1>
        </div>
        <h2 class="temp-sub-text">{{dataCurrentWeather.weather.description}}</h2>
      </div>
      <div
        class="block w-4 flex justify-content-center align-items-center"
      >
        <div class="w-8">
          <div class="temp-color font-size-2 pb-3">Feels like {{dataCurrentWeather.app_temp}}°</div>
          <div class="flex justify-content-between">
            <div>
              <div><img class="icon-ability" src="../../../assets/icon/humidity-icon.png"/></div>
              <div><img class="icon-ability" src="../../../assets/icon/wind-icon.png"/></div>
              <div><img class="icon-ability" src="../../../assets/icon/pressure-icon.png"/></div>
            </div>
            <div class="font-size-1">
              <div class="temp-sub-text">Humidity: </div>
              <div class="temp-sub-text">Wind: </div>
              <div class="temp-sub-text">Pressure: </div>
            </div>
            <div class="font-size-1">
              <div class="temp-percent">{{dataCurrentWeather.rh}}%</div>
              <div class="temp-percent">{{dataCurrentWeather.wind_spd}}m/s</div>
              <div class="temp-percent">{{dataCurrentWeather.pres}}mb</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
